.action-button{
    width: 100%;
    margin: 4px;
}
.user_pic{
    height:140px;
}

.details-card{
    background-color: white;
    padding:5px;
}

.details-info{
    font-size:12px;
}

ul{
    list-style-type: none;
    li{
        font-weight: 500;
        span{
            padding-left: 10px;
            font-weight: 400;
            color:gray;
        }
    }
}

